.h_container {
  max-width: 100%;
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_side {
  display: flex;
  align-items: center;
}

.header_text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  margin: 0;
  font-size: 24px;
}

.subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(111, 82, 37);

  @media (max-width: 390px) {
    display: none;
  }
}

.logo {
  width: 62px;
}

.right_side {
  display: flex;
  align-items: center;
}

.cartt {
  width: 22px;
}

.cart_batton {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart_batton:hover {
  background-color: #0056b3;
}

.cart_batton span {
  margin-right: 10px;
}
