@import './libs/normalize';
@import './_variables';

body {
  background-color: $background;
}

.container {
  max-width: 1400px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

div .active {
  background-color: #daa520 !important;
}
