@import './libs/normalize';
@import './_variables';

body {
  background-color: $background;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  max-width: 1400px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 8px;
}

.container_cartochek {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

div .active {
  background-color: #daa520 !important;
}
