@import './libs/normalize';
@import './_variables';

body {
  background-color: $background;
}

a {
  color: inherit; /* Убирает цвет ссылки */
  text-decoration: none; /* Убирает подчеркивание */
}

.app-container {
  max-width: 1400px; /* Ограничение ширины контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  border: 2px solid black;
  border-radius: 8px;
}

.container_cartochek {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

div .active {
  background-color: #daa520 !important;
}
